# AmzSpApi::OrdersApiModel::VerificationStatus

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |

## Example

```ruby
require 'orders-api-model'

instance = AmzSpApi::OrdersApiModel::VerificationStatus.new()
```

